@import './style-var.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Nunito+Sans:300,400|Work+Sans&display=swap');

%font-banner__header {
    color: $color-font--dark;
    font-family: $font__header;
    font-size: 36px;
    font-weight: 600;
}

%font-banner__paragraph {
    color: $color-font__paragraph;
    font-family: $font__paragraph;
    font-size: 18px;
    font-weight: 500;
}

%font-header {
    color: $color-font--dark;
    font-family: $font__header;
    font-size: 30px;
    font-weight: 600;
}

%font-subheader--dark {
    color: $color-font--dark;
    font-family: $font__header;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

%font-subheader--light {
    color: $color-font--light;
    font-family: $font__header;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

%font-paragraph--dark {
    color: $color-font__paragraph;
    font-family: $font__paragraph;
    font-size: 16px;
    font-weight: 500;
}

%font-alt__loadmore--dark {
    color: $color-font__paragraph;
    font-family: $font__header;
    font-size: 12px;
    font-weight: 700;
}

%font-alt__numeric--light {
    color: $color-font--light;
    font-family: $font__paragraph;
    font-size: 18px;
    font-weight: 600;
}

%font-alt__testimon--light {
    color: $color-font--light;
    font-family: $font__header;
    font-size: 24px;
    font-weight: 600;
}

%font-input--dark {
    color: $color-font--dark;
    font-family: $font__second;
    font-size: 16px;
    font-weight: 500;
}

%font-footer__paragraph--light {
    color: $color-font__paragraph;
    font-family: $font__second;
    font-size: 15px;
    font-weight: 400;
}

%font-footer__header--light {
    color: $color-font--light;
    font-family: $font__second;
    font-size: 18px;
    font-weight: 500;
}

.sect {
    height: auto;
    width: auto;

    &-testimonials {
        background: $color__main;
    }

    &-header {
        background: $color__bg-main url(./../img/bg__banner.png) no-repeat;
        background-size: cover;
        height: auto;
    }

    &-about {
        background: #fff;
    }

    &-scills {
        background: $color__bg-main url(./../img/bg__scills.png) no-repeat;
        background-size: cover;
        height: auto;
    }

    &-numbers {
        background: $color__main;
    }

    &-works {
        background: $color__bg-main;
    }

    &-video {}

    &-services {
        background: $color__bg-main;
    }

    &-order {
        background: $color__bg-main;
    }

    &-footer {
        background: #000;
    }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------
// ---------------------------------------------------------------
// ---------------------------------------------------------------

.navig {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__logo {
        position: relative;
        top: -3px;
        display: inline-block;
        width: auto;
        height: 25px;
        flex: 1 3 46.25%;
    }

    &__burger {
        cursor: pointer;
        visibility: hidden;
        height: 30px;

        &-inner {
            position: relative;
            height: 2px;
            width: 35px;
            background: $color-font--dark;

            &:after {
                content: '';
                position: absolute;
                top: 16px;
                height: 2px;
                width: 100%;
                background: $color-font--dark;
            }

            &:before {
                content: '';
                position: absolute;
                top: 8px;
                height: 2px;
                width: 100%;
                background: $color-font--dark;
            }
        }
    }

    &__menu {
        height: 100%;
        position: relative;
        display: inline-block;
        @extend %font-subheader--dark;
        flex: 3 1 53.75%;
        justify-content: space-between;
        display: flex;
        opacity: 1;
        transform: scaleY(1);

        &--visible {

            opacity: 1;
            transform: scaleY(1);
            transition: 0s;
        }

        &-list {
            height: auto;
            display: inline-block;
            padding: 0 10px;

            &>a {
                color: $color-font--dark;
                text-decoration: none;
            }

            &>a:hover {
                color: $color__main;
            }
        }
    }
}

.banner {
    position: relative;
    margin-bottom: 200px;
    width: auto;
    height: auto;
    padding: 10px;

    &__h1 {
        @extend %font-banner__header;
        margin-left: 55.83%;
    }

    &__p {
        @extend %font-banner__paragraph;
        padding-left: 5px;
        margin-top: 35px;
        margin-left: 55.83%;
    }

    &__button {
        @extend %font-subheader--light;
        cursor: pointer;
        padding-left: 5px;
        margin-top: 35px;
        margin-left: 55.83%;
        width: 180px;
        height: 55px;
        border: none;
        background: $color__main;
    }

    &__button:hover {
        background: darken($color__main, $amount: 3%);
    }

    &__button:active {
        background: darken($color__main, $amount: 5%);
    }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------

.about {
    text-align: center;
    display: table;
    height: 100%;
    width: 52.5%;

    &__header {
        @extend %font-header;
    }

    &__p {
        @extend %font-paragraph--dark;
        margin: 30px 0;
    }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------

.scill {
    position: relative;
    padding: 10px;

    &__header {
        @extend %font-header;
        margin-right: 50%;
    }

    &__subheader {
        @extend %font-subheader--dark;
        margin: 40px 0 20px 0;

        & span {
            padding-left: 15px;
        }
    }

    &__graph {
        cursor: pointer;
        position: relative;
        width: 45.67%;
        height: 3px;
        background: $color__bg-alt;

        &-fill {
            position: absolute;
            top: 0px;
            left: 0px;
            transform-origin: 0% 0%;
            height: 3px;
            background: $color__main;
            transform: scaleX(0);

            &--visible {

                transform: scaleX(1);
                transition: 1000ms;
            }
        }

        &:nth-of-type(1) .scill__graph-fill {
            width: 55%;
            transition: 1000ms;
        }

        &:nth-of-type(2) .scill__graph-fill {
            width: 75%;
            transition: 1000ms;
        }

        &:nth-of-type(3) .scill__graph-fill {
            width: 35%;
            transition: 1000ms;
        }
    }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------

.numbers {
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    margin-bottom: 95px;
    grid-template-columns: repeat(4, 1fr);

    &__element {
        padding: 95px 20px 0 0;
        display: flex;
        align-items: center;
    }

    &__img {
        width: auto;
        margin: 0 30px 0 5px;
    }

    &__numeric {
        @extend %font-alt__numeric--light;
        margin-bottom: 10px;
    }

    &__text {
        @extend %font-subheader--light;
    }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------

#work-collapse {
    display: none;
}

.work {
    height: 100%;

    &__open,
    &__collapse {
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
        grid-template-columns: repeat(4, 1fr);
        height: auto;
        width: 100%;

        &>div {
            position: relative;
            overflow: hidden;
            margin-bottom: -10px;
            height: auto;


            &:after {
                content: '';
                cursor: pointer;
                position: absolute;
                left: 0px;
                top: -10px;
                opacity: 0;
                background: #000 url(./../img/eye.png) 50% no-repeat;
                width: 100%;
                height: 100%;
                z-index: 100;
                transition: 0.3s;

            }

            &:hover:after {
                opacity: 0.82;
                transition: 0.3s;
            }

            &>img {
                position: relative;
                width: 100%;
                height: auto;
                overflow: hidden;

            }
        }
    }

    &__btn {
        @extend %font-alt__loadmore--dark;
        position: relative;
        cursor: pointer;
        height: 100px;
        width: 100%;
        text-align: center;
        border: none;
        background: $color__bg-alt;
        transition: 0.3s;

        &:hover {
            background: darken($color__bg-alt, $amount: 20%);
            color: lighten($color-font--light, $amount: 30%);
            transition: 0.3s;
        }
    }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------

.video {
    width: 100%;
    height: auto;

    &__container {
        position: relative;
        cursor: pointer;


        &:hover .video__cover {

            opacity: 1;
            transition: 0.3s;
        }
    }

    &__control {
        height: 100px;
        width: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto auto;
        left: 0px;
        right: 0px;
    }

    &__cover {
        width: 100%;
        height: calc(100% - 5px);

        background: rgba(0, 0, 0, 0.6);
        position: absolute;

        opacity: 0;
        transition: 0.3s;
    }

    &__header {
        @extend %font-header;
        text-align: center;
    }

    &__p {
        @extend %font-paragraph--dark;
        text-align: center;
        margin: 30px 0 40px 0;
    }

    &__inner {
        max-height: 100%;
        width: 100%;
        height: auto;
    }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    &-block {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px auto;
        width: 270px;
        padding: 10px;

        &__img {
            height: 30px;

            &>img {
                width: auto;
                margin: 0 auto;
            }
        }

        &>p:nth-of-type(1) {
            @extend %font-subheader--dark;
            margin: 20px auto 10px auto;
            text-align: center;
        }

        &>p:nth-of-type(2) {
            @extend %font-paragraph--dark;
            text-align: center;
        }
    }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------

.testimonials {
    width: 67.5%;

    & .mySlides {
        display: none;

        &--active {
            display: block;
        }
    }

    &__slide {

        &>p:nth-of-type(1) {
            @extend %font-alt__testimon--light;
            text-align: center;
            line-height: 150%;
        }

        &>p:nth-of-type(2) {
            @extend %font-subheader--light;
            text-align: center;
            padding: 30px 0 100px 0;
        }
    }

    &__control {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: auto;

        & .active {
            transform: scale(1.5);
            opacity: 0.9;
            transition: 0.3s;
        }

        &>span {
            cursor: pointer;
            margin: 0 5px;
            border-radius: 50%;
            background: white;
            height: 6px;
            width: 6px;
            opacity: 0.6;

        }

        &>span:hover {
            transform: scale(1.5);


        }
    }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------

.partners {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin: 0 auto;

    &__elem {
        padding: 60px;
        width: auto;
        display: inline-block;
    }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------

.order {
    &>p:nth-of-type(1) {
        @extend %font-header;
        text-align: center;
    }

    &>p:nth-of-type(2) {
        @extend %font-paragraph--dark;
        width: 46%;
        margin: 20px auto;
        text-align: center;
    }

    &__form {
        margin: 0 auto;
        width: 46%;

        & form {}

        & form>input[type='user'],
        form>input[type='email'],
        form>input[type='text'] {
            @extend %font-input--dark;
            border: none;
            box-sizing: border-box;
            padding: 10px;
            margin-bottom: 30px;

            &:focus {
                background: rgb(253, 196, 196);
            }

            &:valid {
                background: rgb(189, 255, 189);
            }
        }

        & form>input:nth-of-type(1) {
            width: 47%;
            min-width: 180px;
        }

        & form>input:nth-of-type(2) {
            width: 47%;
            min-width: 180px;
            float: right;
        }

        & form>input:nth-of-type(3) {
            width: 100%;
        }

        & form>input:nth-of-type(4) {
            @extend %font-subheader--light;
            display: block;
            cursor: pointer;
            width: 180px;
            height: 55px;
            border: none;
            background: $color__main;
            margin: 0 auto;
            border: none;

            &:hover {
                background: darken($color__main, $amount: 3%);
            }

            &:active {
                background: darken($color__main, $amount: 5%);
            }
        }


        & form>textarea {
            @extend %font-input--dark;
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            margin-bottom: 30px;
            border: none;
            resize: none;
            height: 170px;
        }

    }
}

// ---------------------------------------------------------------
// ---------------------------------------------------------------

.footer {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 40% 25% 25% 10%;

    &__header {
        @extend %font-footer__header--light;
    }

    &__paragraph {
        @extend %font-footer__paragraph--light;
    }

    &>div {
        height: auto;
        border: #000 solid 1px;
    }

    &>div:nth-of-type(1) {
        &>.footer__header {
            margin-bottom: 20px;
        }
    }

    &>div:nth-of-type(2) {
        &>.footer__paragraph {
            margin-bottom: 5px;
        }
    }

    &>div:nth-of-type(3),
    &>div:nth-of-type(4) {
        &>ul {
            margin-bottom: 20px;
            display: inline-block;
            width: 100px;

            & li {
                list-style: none;
                margin-bottom: 6px;

            }

            & a {
                @extend %font-footer__paragraph--light;
                text-decoration: none;

                &:hover {
                    color: $color__main;
                }
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .scill {
        padding-left: 20px;

        &__graph {
            width: 600px;
        }
    }

    .work {

        &__open,
        &__collapse {
            grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            &>div {
                height: 240px;
                margin-bottom: 0px;

                &:after {
                    top: 0px;
                }
            }
        }
    }

    .footer {
        padding: 0 20px;
    }

    .banner {
        &__p {
            position: relative;
            left: -20px;
            margin-top: 30px;
            background: rgba($color__bg-main, 0.65);
            padding: 40px;
        }

        &__h1 {
            padding: 0 10px;
        }
    }
}

@media screen and (max-width: 900px) {
    .scill {
        &__graph {
            width: 73%;
        }
    }


    .order {
        &__form {
            width: 90%;
            margin: 0 5%;

            & form>input:nth-of-type(1) {
                width: 100%;

            }

            & form>input:nth-of-type(2) {
                width: 100%;

            }
        }
    }

    .footer {
        grid-template-columns: repeat(4, 1fr);

        &>div {
            padding: 0 10px;
        }
    }

    .numbers {
        padding: 0 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, minmax(200px, 2fr));
    }
}

@media screen and (max-width: 600px) {
    .sect {
        &-header {
            height: 900px;
        }
    }

    .scill {
        &__header {
            margin-right: 0px;
        }

        &__graph {
            width: 90%;
        }
    }

    .banner {
        transition: 0.6s;

        &--visible {

            transform: translateY(-180px);
            transition: 0.6s;
        }

        &__h1 {
            margin-left: 20%;
        }

        &__p {
            left: -30px;
            margin-left: 20%;

        }

        &__button {
            margin-left: 30%;
        }
    }

    .navig {
        justify-content: start;

        &__logo {
            flex: 0 0 0;
        }

        &__burger {
            visibility: visible;
            margin: 0 20px;

            &-inner {}
        }

        &__menu {
            top: -9px;
            transition: 0.5s;

            &--visible {
                opacity: 1;
                transform: scaleY(1);
                transition: 0.4s;
                height: 100%;

            }

            transform: scaleY(0.05);
            flex-direction: column;
            opacity: 0;
            transform-origin: 0% 0%;
            transition: opacity 0.4s,
            transform 0.4s;

            &-list {
                display: block;
                padding: 4px 0;
                font-size: 150%;
            }
        }
    }
    .numbers {
        padding: 0 20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, minmax(200px, 2fr));
    }
    .video__p{
        margin: 30px 10px 40px 10px
    }
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);

        &>div {
            padding: 0 10px;
        }
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}